WebSites/Abastecimientos/App_WebReferences/sv/gob/minsal/intranet/arthur.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://minsal.gob.sv/wess" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://minsal.gob.sv/wess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://minsal.gob.sv/wess">
      <s:element name="EnvioMensaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioMensajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnvioMensajeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioMensajeAPP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioMensajeAPPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioMensajeAPPResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnvioMensajeSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioMensaje" />
  </wsdl:message>
  <wsdl:message name="EnvioMensajeSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioMensajeResponse" />
  </wsdl:message>
  <wsdl:message name="EnvioMensajeAPPSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioMensajeAPP" />
  </wsdl:message>
  <wsdl:message name="EnvioMensajeAPPSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioMensajeAPPResponse" />
  </wsdl:message>
  <wsdl:portType name="ARTHUR_ServicesSoap">
    <wsdl:operation name="EnvioMensaje">
      <wsdl:input message="tns:EnvioMensajeSoapIn" />
      <wsdl:output message="tns:EnvioMensajeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnvioMensajeAPP">
      <wsdl:input message="tns:EnvioMensajeAPPSoapIn" />
      <wsdl:output message="tns:EnvioMensajeAPPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ARTHUR_ServicesSoap" type="tns:ARTHUR_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioMensaje">
      <soap:operation soapAction="http://minsal.gob.sv/wess/EnvioMensaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioMensajeAPP">
      <soap:operation soapAction="http://minsal.gob.sv/wess/EnvioMensajeAPP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ARTHUR_ServicesSoap12" type="tns:ARTHUR_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioMensaje">
      <soap12:operation soapAction="http://minsal.gob.sv/wess/EnvioMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioMensajeAPP">
      <soap12:operation soapAction="http://minsal.gob.sv/wess/EnvioMensajeAPP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ARTHUR_Services">
    <wsdl:port name="ARTHUR_ServicesSoap" binding="tns:ARTHUR_ServicesSoap">
      <soap:address location="http://intranet.minsal.gob.sv/wess/arthur.asmx" />
    </wsdl:port>
    <wsdl:port name="ARTHUR_ServicesSoap12" binding="tns:ARTHUR_ServicesSoap12">
      <soap12:address location="http://intranet.minsal.gob.sv/wess/arthur.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>